/* root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color: #44bb93;
    --hover-color-dark: #00724c;
    --hover-color-light: #65ffcc;
    --red-color: #d60303;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5rem;
}

.welcomemsg, .loginform {
    padding: 1rem;
    align-self: center;
}

h1, p {
    margin: 1rem;
    text-align: center;
}

.toptech {
    color:var(--main-color);
    text-align: center;
    font-style: italic;
}

.fa.fa-microchip {
    color:var(--main-color);
    font-size: 5rem;
    display: block;
    text-align: center;
    padding: 1rem;
}

.loginform {
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    margin: 2rem 1rem 0 2rem;
}

form {
    display: grid;
}

label, input {
    display: grid;
    margin: 1.2rem 0 0 0;
}

input {
    width: 60vh;
    height: 5vh;
    border: .1rem var(--main-color) solid;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

label {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
}

/* buttons */
button.buttonlgn{
    background-color: var(--main-color);
    border: .1rem solid var(--main-color);
    border-radius: .2rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    padding: .7rem;
    margin: 3rem 0 0 0;
}

button.buttonlgn:hover{
    color: var(--hover-color-dark);
}

button.btn-cad{
    background-color: white;
    border: .1rem solid var(--main-color);
    border-radius: .2rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
    padding: .7rem;
    margin: 1rem 0 0 0;
}

button.btn-cad a {
    text-decoration: none;
    color: inherit;
}


button.btn-cad:hover{
    color: var(--hover-color-dark);
}

a.rstpw {
    font-style: italic;
    color: black;
    margin: .5rem 0 0 0;
    text-decoration: none;
}

a.rstpw:hover{
    color: var(--main-color);
    text-decoration: underline;

}

/* footer */
footer {
    background-color: var(--main-color);
    position: sticky;
    width: 100%;
    bottom: 0;
}

.footer_ul, .footer_ul a {
    list-style: none;
    text-decoration: none;
    color: black;
    display: flex;
}

.footer_li { 
    margin-left: 1rem;
    display: inline-block;
    font-style: italic;
    font-weight: 600;
    font-size: .8rem;
}

.footer_li a:hover{
    color: white;
    text-decoration: underline;

}

@media screen and (min-width: 1181px){
    html{
      position:fixed;
      width:100%;
      height:100%;
    }

}

@media screen and (max-width: 1180px){
    main {
        display: grid;
        padding: 1rem;
    }

    .welcomemsg, .loginform {
        padding: 2rem;
        align-self: center;
    }

    label, input {
        margin: 1.2rem 0 0 0;
    }
    
    input {
        width: 40vh;
        height: 5vh;
        border: .1rem var(--main-color) solid;
        border-radius: .5rem;
        font-size: 1rem;
        font-weight: 600;
    }
    
    label {
        font-size: 1.25rem;
        font-weight: 600;
        font-style: italic;
    }

    footer {
        background-color: var(--main-color);
        position: fixed; /*ver se isso resolve em tela grande */
        width: 100%;
        bottom: 0;
    }

    .footer_ul{
        justify-content: center;
    }
}

@media screen and (max-width: 844px){
    main {
        display: block;
        padding: 1rem;
    }

    .welcomemsg, .loginform {
        padding: 1rem;
        align-self: center;
    }

    label, input {
        margin: 1.2rem 0 0 0;
    }
    
    input {
        width: 40vh;
        height: 5vh;
        border: .1rem var(--main-color) solid;
        border-radius: .5rem;
        font-size: 1rem;
        font-weight: 600;
    }
    
    label {
        font-size: 1.25rem;
        font-weight: 600;
        font-style: italic;
    }

    footer {
        background-color: var(--main-color);
        position: fixed; /*ver se isso resolve em tela grande */
        width: 100%;
        bottom: 0;
    }

    .footer_ul{
        justify-content: center;
    }
  
    .footer_li:nth-child(1){
        display: none;
    }
}